Repository Himenon/custom-site: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run prettier, sort-package-json

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": ["yarn run prettier", "git add"],
    "package.json": ["sort-package-json", "git add"]
  },
  "ignore": ["yarn.lock", "node_modules/**/*"]
}

refactor(config): overwrite config setting
  example/package.json
  example/src/config.json
  src/generator.ts
  src/getPage.ts
  src/helpers.ts
  src/lifeCycle.ts
  src/parser.ts
  src/server/__tests__/router.test.ts
  src/server/server.ts
  src/transformer/tags/__tests__/helper.test.tsx
  typings/@custom-site/index.d.ts
Due: yarn run prettier, sort-package-json

refactor(config): remove dirname
  example/.gitignore
  example/package.json
  package.json
  src/cli.ts
  src/generator.ts
  src/getPage.ts
  src/lifeCycle.ts
  src/server/server.ts
Due: yarn run prettier, sort-package-json

refactor(config): remove dirname
  example/package.json
  src/build/copyFiles.ts
  src/cli.ts
  src/generator.ts
Due: yarn run prettier, sort-package-json

refactor(option): option to site state
  src/build/copyFiles.ts
  src/generateProps.ts
  src/generator.ts
  src/getPage.ts
  src/lifeCycle.ts
  src/logger.ts
  src/plugin.ts
  src/renderer.ts
  src/server/server.ts
  src/store.ts
  src/transformer/tags/__tests__/helper.test.tsx
  src/transformer/tags/generateAnchorElement.tsx
  src/transformer/tags/generateImageElement.tsx
  src/transformer/tags/helpers.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier

refactor(config): refactor config paramsters
  example/config.dev.json
  example/config.json
  example/config.prod.json
  example/package.json
  src/cli.ts
  src/getPage.ts
  src/helpers.ts
  src/parser.ts
  src/server/__tests__/router.test.ts
  src/server/server.ts
  typings/@custom-site/index.d.ts
  yarn.lock
Due: yarn run prettier, sort-package-json

test(parser): add cli parser test
  src/__tests__/getLayout.test.tsx
  src/__tests__/parser.test.ts
  src/cli.ts
  src/helpers.ts
  src/parser.ts
Due: yarn run prettier

fix(test): update package.json and test
  .travis.yml
  package.json
  src/transformer/__tests__/expectedResult.js
  src/transformer/createBodyContent.tsx
  yarn.lock
Due: yarn run prettier, sort-package-json

feat(plugin): add plugin example and fix resolve path
  example/config.dev.json
  example/package.json
  example/plugins/MetaPlugin.js
  example/plugins/MetaPlugin.ts
  src/lifeCycle.ts
  src/resolver/index.ts
Due: yarn run prettier, sort-package-json

chore(change-log): updated CHANGELOG.md
  CHANGELOG.md
Due: none

0.2.0
  package.json
Due: sort-package-json

feat(plugin): add plugin argument parameter
  example/plugins/MetaPlugin.js
  example/plugins/MetaPlugin.ts
  example/src/config.json
  src/renderer.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier

0.2.1
  package.json
Due: sort-package-json

feat(head): add twitter card tag
  src/transformer/createHeadContent.tsx
Due: yarn run prettier

refactor(extend): extend head tag, and add plugin
  jest.config.json
  src/__tests__/SiteExample.ts
  src/__tests__/renderer.test.ts
  src/lifeCycle.ts
  src/renderer.ts
  src/store.ts
  src/transformer/__tests__/createHeadContent.test.tsx
  src/transformer/combine.tsx
  src/transformer/createHeadContent.tsx
  src/transformer/tags/__tests__/generateScriptElements.test.tsx
  src/transformer/tags/generateLinkElements.tsx
  src/transformer/tags/generateScriptElements.tsx
  typings/@custom-site/index.d.ts
Due: yarn run prettier

fix(cache): update reload cache system
  example/CustomTemplate/template.js
  example/CustomTemplate/template.tsx
  example/config.dev.json
  example/config.json
  example/package.json
  example/plugins/MetaPlugin.js
  example/plugins/MetaPlugin.ts
  src/cli.ts
  src/lifeCycle.ts
  src/plugin.ts
  src/resolver/index.ts
  src/server/server.ts
  src/transformer/createHeadContent.tsx
  typings/@custom-site/index.d.ts
Due: yarn run prettier, sort-package-json

fix(basepath): update base url, base uri
  example/config.json
  example/plugins/MetaPlugin.js
  example/plugins/MetaPlugin.ts
  example/src/config.json
  src/__tests__/SiteExample.ts
  src/__tests__/getLayout.test.tsx
  src/__tests__/parser.test.ts
  src/cli.ts
  src/generateProps.ts
  src/getPage.ts
  src/parser.ts
  src/renderer.ts
  src/server/__tests__/router.test.ts
  src/server/server.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier

0.3.0
  package.json
Due: sort-package-json

chore(example): update example site
  example/CustomComponent/components.js
  example/CustomComponent/components.tsx
  example/CustomTemplate/template.js
  example/CustomTemplate/template.tsx
  example/components/components.js
  example/components/components.tsx
  example/config.json
  example/package.json
  example/plugins/MetaPlugin.js
  example/src/assets/main.css
  example/src/component.mdx
  example/src/index.mdx
  example/template/template.js
  example/template/template.tsx
  example/tsconfig.json
  example/yarn.lock
Due: yarn run prettier, sort-package-json

refactor(cache): fix require caching
  example/components/components.js
  example/components/components.tsx
  example/config.json
  example/src/assets/main.css
  example/src/component.mdx
  example/template/template.js
  example/template/template.tsx
  src/exportPage.ts
  src/importer.ts
  src/renderer.ts
  src/resolver/importer.ts
  src/server/server.ts
  src/transformer/__tests__/createHeadContent.test.tsx
  src/transformer/tags/generateLinkElements.tsx
  src/transformer/tags/helpers.ts
Due: yarn run prettier

refactor(example): update PostProps
  example/components/components.js
  example/components/components.tsx
  example/package.json
  example/src/assets/main.css
  example/src/component.mdx
  example/src/feature/local-scope.mdx
  example/src/feature/nest/article-2.mdx
  example/src/index.mdx
  example/src/top.mdx
  example/template/template.js
  example/template/template.tsx
  example/yarn.lock
  src/__tests__/getLayout.test.tsx
  src/generateProps.ts
  src/renderer.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier, sort-package-json

fix(custom-component): can use custom componenent in markdown
  example/components/components.js
  example/components/components.tsx
  example/components/example.js
  example/components/example.tsx
  example/src/component.mdx
  example/template/template.js
  example/template/template.tsx
  src/renderer.ts
  src/transformer/createBodyContent.tsx
  typings/@mdx-js/index.d.ts
Due: yarn run prettier

fix(test): link hash
  src/transformer/tags/__tests__/generateLinkElements.test.tsx
Due: yarn run prettier

feat(copy): rewrite node_modules path to lib when build production
  example/.gitignore
  example/package.json
  example/plugins/MetaPlugin.js
  example/plugins/MetaPlugin.ts
  example/src/assets/main.css
  example/yarn.lock
  src/build/copyFiles.ts
  src/cli.ts
  src/exportPage.ts
  src/getPage.ts
Due: yarn run prettier, sort-package-json

refactor(cqs): add cqs
  src/__tests__/renderer.test.ts
  src/build-tools/README.md
  src/build-tools/copyFiles.ts
  src/build-tools/exportPage.ts
  src/build-tools/index.ts
  src/build/copyFiles.ts
  src/cli.ts
  src/domain/config/command.ts
  src/domain/config/index.ts
  src/domain/config/query.ts
  src/domain/plugin/command.ts
  src/domain/plugin/index.ts
  src/domain/plugin/query.ts
  src/generator.ts
  src/getPage.ts
  src/lifeCycle.ts
  src/models/index.ts
  src/models/model.ts
  src/plugin.ts
  src/renderer.ts
  src/server/server.ts
Due: yarn run prettier

refactor(hard-code): remove hard coding
  src/build-tools/copyFiles.ts
  src/cli.ts
  src/domain/config/query.ts
  src/generator.ts
  src/getPage.ts
Due: yarn run prettier

test(cqs): add test
  src/domain/config/__tests__/QueryAndCommand.ts
Due: yarn run prettier

test(generator): add test
  src/__tests__/ExampleSiteParameters.ts
  src/__tests__/generator.test.ts
  src/__tests__/renderer.test.ts
  src/domain/config/__tests__/QueryAndCommand.test.ts
Due: yarn run prettier

test(mock): add mock test
  .dependency-cruiser.json
  src/__mocks__/fs.ts
  src/__mocks__/recursive-readdir.ts
  src/__tests__/generator.test.ts
  src/resolver/__mocks__/importer.ts
  src/transformer/tags/__tests__/generateGoogleAnalyticsElement.test.tsx
Due: yarn run prettier

feat(csr-props): add initial props to client side
  src/__tests__/getLayout.test.tsx
  src/__tests__/renderer.test.ts
  src/createTemplate.tsx
  src/renderer.ts
  src/transformer/__tests__/createHeadContent.test.tsx
  src/transformer/combine.tsx
  src/transformer/createHeadContent.tsx
  tsconfig.json
Due: yarn run prettier

feat(csr-props): change props position
  src/transformer/combine.tsx
Due: yarn run prettier

feat(lerna): monorepo setup
  lerna.json
  package.json
  packages/core/package.json
  yarn.lock
Due: sort-package-json

chore(monorepo): update settings
  .huskyrc
  .lintstagedrc
  .yarnrc
  LICENSE
  commitlint.config.json
  package.json
  packages/core/package.json
  packages/core/yarn.lock
  yarn.lock
Due: sort-package-json

fix(ci): setup lerna
  .travis.yml
Due: none

chore(lerna): update lerna settings
  lerna.json
Due: none

chore(lerna): update lerna settings
  package.json
  packages/core/package.json
  packages/core/tsconfig.build.json
  yarn.lock
Due: sort-package-json

chore(gardenig): update packages
  .gitignore
  package.json
  packages/core/package.json
  packages/core/src/cli.ts
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  yarn.lock
Due: yarn run prettier, sort-package-json

chore(mdx): update mdx-js
  packages/core/example/components/components.tsx
  packages/core/package.json
  packages/core/src/renderer.ts
  packages/core/src/transformer/createBodyContent.tsx
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  packages/core/typings/@custom-site/index.d.ts
  packages/core/typings/@mdx-js/index.d.ts
  packages/tsconfig.shared.json
  yarn.lock
Due: yarn run prettier, sort-package-json
