Repository Himenon/custom-site: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run prettier, sort-package-json

feat(server): add development server
  .lintstagedrc
  .vscode/cSpell.json
  README.md
  example/index.mdx
  package.json
  src/cli/cli.ts
  src/cli/generateStatic.ts
  src/generator/index.ts
  src/logger/index.ts
  src/renderer/index.ts
  src/server/getPage.ts
  src/server/index.ts
  src/server/reloadScript.ts
  src/server/server.ts
  src/server/wsServer.ts
  src/typings/@babel/index.d.ts
  src/typings/@mdx-js/index.d.ts
  src/typings/@rocu/index.d.ts
  src/typings/gray-matter/index.d.ts
  tsconfig.json
  yarn.lock
Due: yarn run prettier, sort-package-json

chore(typing): update typings
  .vscode/cSpell.json
  src/__tests__/index.test.ts
  src/cli/cli.ts
  src/cli/index.ts
  src/index.ts
  tsconfig.json
Due: yarn run prettier

refactor(architecture): updating
  .vscode/cSpell.json
  package.json
  src/cli.ts
  src/cli/generateStatic.ts
  src/cli/index.ts
  src/generator/index.ts
  src/index.ts
  src/logger/index.ts
  src/renderer/index.ts
  src/server/index.ts
  src/server/server.ts
  src/structure/getPage.ts
  src/structure/index.ts
  tsconfig.json
  typings/@babel/index.d.ts
  typings/@mdx-js/index.d.ts
  typings/@rocu/index.d.ts
  typings/gray-matter/index.d.ts
Due: yarn run prettier, sort-package-json

ci(travis): update travis ci settings
  .travis.yml
  README.md
Due: none

feat(render): add mdx transform logic
  .vscode/cSpell.json
  package.json
  src/generator/index.ts
  src/index.ts
  src/renderer/index.ts
  src/server/reloadScript.ts
  src/server/server.ts
  src/transformer/converter.tsx
  src/transformer/index.tsx
  tsconfig.json
  tslint.json
  typings/@babel/index.d.ts
  typings/@rocu/index.d.ts
  yarn.lock
Due: yarn run prettier, sort-package-json

feat(render): add react-dom server
  jest.config.json
  package.json
  src/renderer/index.ts
  src/transformer/__tests__/converter.test.tsx
  src/transformer/converter.tsx
  yarn.lock
Due: yarn run prettier, sort-package-json

chore(package): update tasks
  .lintstagedrc
  package.json
Due: sort-package-json

fix(not-to-dev-dep): devDep to dev
  package.json
Due: sort-package-json

chore(security): update version npm-run-all
  package.json
  yarn.lock
Due: sort-package-json

chore(change-log): updated CHANGELOG.md
  CHANGELOG.md
Due: none

0.0.2
  package.json
Due: sort-package-json

test(mdx): add test for @mdx-js/mdx 0.16.0
  .dependency-cruiser.json
  src/transformer/__tests__/converter.test.tsx
  src/transformer/__tests__/expectedResult.js
  src/transformer/converter.tsx
  typings/@mdx-js/index.d.ts
Due: yarn run prettier

ci(task): update ci task
  .travis.yml
  scripts/deploy.sh
  scripts/notify.ts
Due: yarn run prettier

docs(readme): update readme
  .travis.yml
  README.md
Due: none

chore(debug): add debug message
  README.md
  example/blog/article-1.mdx
  example/index.mdx
  example/top.mdx
  src/cli.ts
  src/generator/index.ts
  src/index.ts
  src/logger/index.ts
  src/server/reloadScript.ts
  src/server/server.ts
Due: yarn run prettier

feat(hot-reaload): fix hot reload
  src/server/reloadScript.ts
  src/server/server.ts
  src/structure/getPage.ts
  tslint.json
Due: yarn run prettier

refactor(directory): update directory
  README.md
  docs/dependencygraph.png
  package.json
  src/generator.ts
  src/index.ts
  src/logger.ts
  src/renderer.ts
  src/server/server.ts
  src/structure/index.ts
  src/transformer/index.tsx
  yarn.lock
Due: yarn run prettier, sort-package-json

feat(head): add html head parameter
  docs/dependencygraph.png
  example/top.mdx
  src/renderer.ts
  src/transformer/__tests__/converter.test.tsx
  src/transformer/combine.tsx
  src/transformer/converter.tsx
  src/transformer/head.tsx
Due: yarn run prettier

feat(recursive): recursive directory
  example/blog/article-1.mdx
  example/blog/nest/article-2.mdx
  package.json
  src/server/server.ts
  src/structure/getPage.ts
  yarn.lock
Due: yarn run prettier, sort-package-json

refactor(review): 不要なログを削除
  src/structure/getPage.ts
Due: yarn run prettier

feat(generate): code mock of generate static page
  src/cli.ts
  src/generator.ts
  src/index.ts
  src/writeRepository.ts
Due: yarn run prettier

feat(recursive): make directory recursively
  .gitignore
  package.json
  src/generator.ts
  src/writeRepository.ts
Due: yarn run prettier, sort-package-json

refactor(rename): rename variable name, and add comment
  src/cli.ts
  src/exportPage.ts
Due: yarn run prettier

style(tslint): enhacned lint setting
  example/top.mdx
  src/renderer.ts
  src/server/wsServer.ts
  tsconfig.json
Due: yarn run prettier

test(url): anchor tag url test
  src/renderer.ts
  src/transformer/__tests__/anchor.test.tsx
  src/transformer/converter.tsx
Due: yarn run prettier

fix(debug): delete debug code
  README.md
  src/server/server.ts
Due: yarn run prettier

0.1.0
  package.json
Due: sort-package-json

feat(meta): add charset
  src/transformer/head.tsx
Due: yarn run prettier

feat(watch): load default metadata from local json
  example/rocu.json
  example/top.mdx
  src/renderer.ts
  src/server/server.ts
  src/structure/getPage.ts
  src/transformer/head.tsx
  typings/@rocu/index.d.ts
Due: yarn run prettier

refactor(dir): ディレクトリ整理
  example/rocu.json
  src/cli.ts
  src/generator.ts
  src/renderer.ts
  src/repository/exportPage.ts
  src/repository/getPage.ts
  src/server/server.ts
  src/transformer/createBodyContent.tsx
  src/transformer/createHeadContent.tsx
  src/transformer/index.ts
Due: yarn run prettier

feat(viewport): add viewport setting
  example/rocu.json
  src/transformer/createHeadContent.tsx
  typings/@rocu/index.d.ts
Due: yarn run prettier

refactor(test): fix failed tests
  src/transformer/__tests__/anchor.test.tsx
  src/transformer/__tests__/createBodyContent.test.tsx
  src/transformer/__tests__/createHeadContent.test.tsx
  src/transformer/createHeadContent.tsx
  typings/@rocu/index.d.ts
Due: yarn run prettier

feat(script): add script property
  example/assets/main.js
  example/blog/article-1.mdx
  example/blog/assets/index.js
  example/rocu.json
  src/repository/getPage.ts
  src/transformer/__tests__/createHeadContent.test.tsx
  src/transformer/createHeadContent.tsx
  typings/@rocu/index.d.ts
Due: yarn run prettier

feat(script): update script tag generator
  src/repository/getPage.ts
  src/transformer/__tests__/createHeadContent.test.tsx
  src/transformer/createHeadContent.tsx
  src/transformer/tags/__tests__/generateScriptTag.test.tsx
  src/transformer/tags/generateScriptTag.tsx
  tsconfig.build.json
  tsconfig.json
  typings/@rocu/index.d.ts
Due: yarn run prettier

feat(script): add trim ignore pattern
  src/transformer/tags/__tests__/generateScriptTag.test.tsx
  src/transformer/tags/generateScriptTag.tsx
Due: yarn run prettier

refactor(review): rename and delete debug log
  src/repository/getPage.ts
  src/transformer/__tests__/createHeadContent.test.tsx
  src/transformer/createHeadContent.tsx
  src/transformer/tags/__tests__/generateScriptTag.test.tsx
  src/transformer/tags/generateScriptElements.tsx
Due: yarn run prettier

feat(link): add link tag generator and refactor
  src/transformer/tags/__tests__/generateLinkElements.test.tsx
  src/transformer/tags/__tests__/generateScriptElements.test.tsx
  src/transformer/tags/__tests__/generateScriptTag.test.tsx
  src/transformer/tags/__tests__/normalizer.test.ts
  src/transformer/tags/generateLinkElements.tsx
  src/transformer/tags/generateScriptElements.tsx
  src/transformer/tags/normalizer.ts
  typings/@rocu/index.d.ts
Due: yarn run prettier

Path conditions:
  yarn run prettier: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
