Repository Himenon/custom-site: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format, sort-package-json

fix(test): update test code
  .gitignore
  packages/core/jest.config.json
  packages/core/package.json
  packages/core/src/__mocks__/fs.ts
  packages/core/src/transformer/__tests__/anchor.test.tsx
  packages/core/src/transformer/__tests__/createBodyContent.test.tsx
  packages/core/src/transformer/__tests__/customComponents.test.tsx
  packages/core/src/transformer/__tests__/expectedResult.js
  packages/core/src/transformer/createBodyContent.tsx
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
Due: yarn run format, sort-package-json

fix(build): fix example build
  packages/core/example/.gitignore
  packages/core/example/components/components.js
  packages/core/example/components/components.tsx
  packages/core/example/components/example.js
  packages/core/example/components/example.tsx
  packages/core/example/package.json
  packages/core/example/tsconfig.json
  packages/core/example/yarn.lock
  packages/core/src/build-tools/copyFiles.ts
  packages/core/src/transformer/createBodyContent.tsx
Due: yarn run format, sort-package-json

chore(pkg): update command
  packages/core/example/package.json
Due: sort-package-json

chore(settings): skip test & update ci task
  .travis.yml
  build.txt
  package.json
  packages/core/src/__tests__/renderer.test.ts
Due: yarn run format, sort-package-json

feat(packages): initialize packages
  packages/cli/README.md
  packages/cli/package.json
  packages/core/tsconfig.json
  packages/logger/README.md
  packages/logger/package.json
  packages/page/README.md
  packages/page/package.json
  packages/plugin/README.md
  packages/plugin/package.json
  packages/tsconfig.json
Due: sort-package-json

feat(interfaces): add interface
  packages/interfaces/README.md
  packages/interfaces/lib/development.d.ts
  packages/interfaces/lib/index.d.ts
  packages/interfaces/lib/page.d.ts
  packages/interfaces/lib/plugin.d.ts
  packages/interfaces/package.json
  packages/interfaces/tsconfig.json
  packages/interfaces/typings/@babel/index.d.ts
  packages/interfaces/typings/@custom-site/index.d.ts
  packages/interfaces/typings/@mdx-js/index.d.ts
  packages/interfaces/typings/gray-matter/index.d.ts
Due: yarn run format, sort-package-json

feat(interfaces): add interface
  packages/interfaces/lib/cli.d.ts
  packages/interfaces/lib/index.d.ts
  packages/interfaces/lib/plugin.d.ts
  packages/interfaces/package.json
Due: yarn run format, sort-package-json

refactor(example): move root directory
  example/.gitignore
  example/components/components.js
  example/components/components.tsx
  example/components/example.js
  example/components/example.tsx
  example/config.json
  example/package.json
  example/plugins/MetaPlugin.js
  example/plugins/MetaPlugin.ts
  example/src/assets/main.css
  example/src/assets/main.js
  example/src/component.mdx
  example/src/config.json
  example/src/feature/assets/local.css
  example/src/feature/assets/local.js
  example/src/feature/local-scope.mdx
  example/src/feature/nest/article-2.mdx
  example/src/index.mdx
  example/src/top.mdx
  example/template/template.js
  example/template/template.tsx
  example/tsconfig.json
  example/yarn.lock
Due: yarn run format, sort-package-json

refactor(packages): cli/interfaces/core
  .gitignore
  build.txt
  package.json
  packages/cli/package.json
  packages/cli/src/build-tools/README.md
  packages/cli/src/build-tools/copyFiles.ts
  packages/cli/src/build-tools/exportPage.ts
  packages/cli/src/build-tools/index.ts
  packages/cli/src/index.ts
  packages/cli/src/logger.ts
  packages/cli/src/types.d.ts
  packages/cli/tsconfig.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/interfaces/package.json
  packages/interfaces/tsconfig.json
  packages/logger/README.md
  packages/logger/package.json
  packages/page/README.md
  packages/page/package.json
  packages/plugin/README.md
  packages/plugin/package.json
  packages/tsconfig.json
Due: yarn run format, sort-package-json

refactor(typeroots): share monorepo typeroots
  .gitignore
  build.txt
  packages/cli/.gitignore
  packages/cli/src/build-tools/exportPage.ts
  packages/cli/tsconfig.json
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
  packages/interfaces/tsconfig.json
  packages/interfaces/types/@babel/index.d.ts
  packages/interfaces/types/@custom-site/index.d.ts
  packages/interfaces/types/@mdx-js/index.d.ts
  packages/interfaces/types/gray-matter/index.d.ts
  packages/interfaces/typings/@babel/index.d.ts
  packages/interfaces/typings/@mdx-js/index.d.ts
  packages/interfaces/typings/gray-matter/index.d.ts
  packages/tsconfig.shared.json
Due: yarn run format

refactor(example): update example
  example/README.md
  example/components/components.tsx
  example/package.json
  example/tsconfig.json
Due: yarn run format, sort-package-json

refactor(example): update example
  example/README.md
  example/package.json
  example/yarn.lock
  packages/cli/package.json
Due: sort-package-json

ci(travis): update settings
  .travis.yml
  package.json
Due: sort-package-json

chore(packages): add version task
  package.json
Due: sort-package-json

v0.3.1
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/interfaces/package.json
Due: sort-package-json

fix(publish): fix publish task
  .travis.yml
Due: none

ci(task): update ci task
  .travis.yml
Due: none

chore(deps): add renovate.json
  renovate.json
Due: none

chore(deps): pin dependencies
  example/package.json
  example/yarn.lock
  package.json
  packages/core/package.json
  yarn.lock
Due: sort-package-json

fix(deps): update dependency chalk to v4
  packages/core/package.json
  yarn.lock
Due: sort-package-json

fix(deps): update dependency fs-extra to v9
  packages/core/package.json
  yarn.lock
Due: sort-package-json

fix(deps): update dependency meow to v7
  packages/cli/package.json
  yarn.lock
Due: sort-package-json

fix(deps): update dependency open to v7
  packages/cli/package.json
  yarn.lock
Due: sort-package-json

fix(deps): update dependency read-pkg-up to v7
  packages/cli/package.json
  yarn.lock
Due: sort-package-json

fix(deps): update dependency update-notifier to v4
  packages/core/package.json
  yarn.lock
Due: sort-package-json

Path conditions:
  yarn run format: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
