Repository Himenon/custom-site: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run prettier, sort-package-json

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": ["yarn run prettier", "git add"],
    "package.json": ["sort-package-json", "git add"]
  },
  "ignore": ["yarn.lock", "node_modules/**/*"]
}

fix(bags): change image url path to absolute path
  src/renderer.ts
  src/transformer/tags/generateImageElement.tsx
Due: yarn run prettier

feat(custom-component): add custom component system
  docs/dependencygraph.png
  package.json
  src/parser.ts
  src/renderer.ts
  src/server/server.ts
  typings/@mdx-js/index.d.ts
  typings/@rocu/index.d.ts
  yarn.lock
Due: yarn run prettier, sort-package-json

chore(example): add custom component sample
  CustomComponent/components.js
  CustomComponent/components.tsx
  package.json
  src/parser.ts
  src/renderer.ts
  src/server/server.ts
  typings/@rocu/index.d.ts
Due: yarn run prettier, sort-package-json

chore(change-log): updated CHANGELOG.md
  CHANGELOG.md
Due: none

0.0.9
  package.json
Due: sort-package-json

feat(rename): rename package name
  .vscode/cSpell.json
  CustomTemplate/template.js
  CustomTemplate/template.tsx
  README.md
  example/config.json
  example/feature/local-scope.mdx
  example/index.mdx
  package.json
  src/__tests__/getLayout.test.tsx
  src/build/copyFiles.ts
  src/cli.ts
  src/createTemplate.tsx
  src/exportPage.ts
  src/generateProps.ts
  src/generator.ts
  src/getPage.ts
  src/helpers.ts
  src/logger.ts
  src/parser.ts
  src/renderer.ts
  src/server/__tests__/router.test.ts
  src/server/server.ts
  src/transformer/createHeadContent.tsx
  src/transformer/tags/__tests__/generateLinkElements.test.tsx
  src/transformer/tags/__tests__/generateScriptElements.test.tsx
  src/transformer/tags/__tests__/helper.test.tsx
  src/transformer/tags/generateAnchorElement.tsx
  src/transformer/tags/generateImageElement.tsx
  src/transformer/tags/generateLinkElements.tsx
  src/transformer/tags/generateScriptElements.tsx
  src/transformer/tags/helpers.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier, sort-package-json

0.0.10
  package.json
Due: sort-package-json

fix(lint): yarn run lint:fix
  src/renderer.ts
Due: yarn run prettier

0.1.0
  package.json
Due: sort-package-json

feat(google-analytics): add google analtics option
  example/config.json
  src/transformer/createHeadContent.tsx
  src/transformer/tags/generateGoogleAnalyticsElement.tsx
  typings/@custom-site/index.d.ts
Due: yarn run prettier

fix(optoin): dev時に設定オプションがconfigから当たらない問題の解決
  example/config.json
  package.json
  src/cli.ts
  src/generateProps.ts
  src/getPage.ts
  src/helpers.ts
  src/parser.ts
  src/renderer.ts
  src/server/__tests__/router.test.ts
  src/server/server.ts
  src/transformer/tags/__tests__/helper.test.tsx
  src/transformer/tags/helpers.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier, sort-package-json

docs(image): update image
  docs/dependencygraph.png
Due: none

0.1.1
  package.json
Due: sort-package-json

chore(transfer): transfer repo to orgs, and change settings
  README.md
  package.json
Due: sort-package-json

chore(npm): update personal to organization
  package.json
Due: sort-package-json

0.2.0
  package.json
Due: sort-package-json

fix(link): update readme link
  README.md
Due: none

0.1.2
  package.json
Due: sort-package-json

chore(ci): publish setting
  .travis.yml
Due: none

chore(ci): update setting
  .travis.yml
Due: none

plugin機構の整備
  src/parser.ts
  src/plugin.ts
  src/renderer.ts
  src/transformer/tags/__tests__/helper.test.tsx
  src/transformer/tags/helpers.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier

feat(plugin-system): add event emitter
  src/plugin.ts
  src/plugin/index.ts
  src/plugin/render.ts
  src/plugin/store.ts
  src/renderer.ts
Due: yarn run prettier

feat(plugin-system): update system
  src/plugin/idGenerator.ts
  src/plugin/index.ts
  src/plugin/render.ts
  src/plugin/store.ts
  src/renderer.ts
Due: yarn run prettier

feat(plugin-system): make plugin system
  example/config.json
  package.json
  src/plugin.ts
  src/renderer.ts
  src/store.ts
  src/transformer/tags/__tests__/helper.test.tsx
  src/transformer/tags/helpers.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier, sort-package-json

feat(plugin-system): update typings
  src/plugin.ts
Due: yarn run prettier

feat(plugin): add meta hook
  src/getPage.ts
  src/plugin.ts
  src/renderer.ts
  src/store.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier

refactor(render-page): refactoring render pipeline
  src/__tests__/getLayout.test.tsx
  src/createTemplate.tsx
  src/renderer.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier

refactor(rename): rename I/F
  CustomTemplate/template.tsx
  src/__tests__/getLayout.test.tsx
  src/createTemplate.tsx
  src/generateProps.ts
  src/getPage.ts
  src/renderer.ts
  src/transformer/tags/__tests__/helper.test.tsx
  src/transformer/tags/generateAnchorElement.tsx
  src/transformer/tags/generateImageElement.tsx
  src/transformer/tags/helpers.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier

refactor(rename): rename I/F
  CustomComponent/components.js
  CustomComponent/components.tsx
  CustomTemplate/template.js
  CustomTemplate/template.tsx
  src/__tests__/getLayout.test.tsx
  src/createTemplate.tsx
  src/generateProps.ts
  src/getPage.ts
  src/helpers.ts
  src/logger.ts
  src/renderer.ts
  src/transformer/createHeadContent.tsx
  src/transformer/tags/__tests__/generateLinkElements.test.tsx
  src/transformer/tags/__tests__/generateScriptElements.test.tsx
  src/transformer/tags/__tests__/helper.test.tsx
  src/transformer/tags/generateAnchorElement.tsx
  src/transformer/tags/generateImageElement.tsx
  src/transformer/tags/generateLinkElements.tsx
  src/transformer/tags/generateScriptElements.tsx
  src/transformer/tags/helpers.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier

refactor(rename): rename I/F
  src/createTemplate.tsx
  src/resolver.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier

feat(exploler-plugin): plugin searcher
  package.json
  src/generator.ts
  src/lifeCycle.ts
  src/parser.ts
  src/renderer.ts
  src/resolver.ts
  src/resolver/index.ts
  src/server/server.ts
  typings/@custom-site/index.d.ts
  yarn.lock
Due: yarn run prettier, sort-package-json

refactor(store): separate plugin and app store
  src/lifeCycle.ts
  src/plugin.ts
  src/renderer.ts
  src/store.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier

feat(plugin): plugin listen
  src/lifeCycle.ts
  src/plugin.ts
  src/store.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier

refactor(path): change external file import path settings
  example/CustomComponent/components.js
  example/CustomComponent/components.tsx
  example/CustomTemplate/template.js
  example/CustomTemplate/template.tsx
  example/package.json
  example/src/assets/main.css
  example/src/assets/main.js
  example/src/feature/assets/local.css
  example/src/feature/assets/local.js
  example/src/feature/local-scope.mdx
  example/src/feature/nest/article-2.mdx
  example/src/index.mdx
  example/src/top.mdx
  example/yarn.lock
  package.json
  src/lifeCycle.ts
  src/logger.ts
  src/store.ts
  yarn.lock
Due: yarn run prettier, sort-package-json

refactor(store): use app store
  example/CustomComponent/components.js
  example/CustomComponent/components.tsx
  example/CustomTemplate/template.js
  example/CustomTemplate/template.tsx
  example/config.json
  example/package.json
  src/build/copyFiles.ts
  src/cli.ts
  src/exportPage.ts
  src/generateProps.ts
  src/generator.ts
  src/getPage.ts
  src/helpers.ts
  src/lifeCycle.ts
  src/parser.ts
  src/renderer.ts
  src/server/__tests__/router.test.ts
  src/server/server.ts
  src/transformer/tags/__tests__/helper.test.tsx
  src/transformer/tags/generateAnchorElement.tsx
  src/transformer/tags/generateImageElement.tsx
  src/transformer/tags/helpers.ts
  typings/@custom-site/index.d.ts
Due: yarn run prettier, sort-package-json
