Repository Himenon/custom-site: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run prettier, sort-package-json

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": ["yarn run prettier", "git add"],
    "package.json": ["sort-package-json", "git add"]
  },
  "ignore": ["yarn.lock", "node_modules/**/*"]
}

feat(link): load setting from local file
  src/repository/getPage.ts
  src/server/server.ts
  src/server/wsServer.ts
  src/transformer/createHeadContent.tsx
  src/transformer/tags/generateLinkElements.tsx
  tsconfig.build.json
  typings/@rocu/index.d.ts
Due: yarn run prettier

feat(example): update example
  example/assets/main.css
  example/blog/article-1.mdx
  example/blog/assets/index.js
  example/feature/assets/local.css
  example/feature/assets/local.js
  example/feature/local-scope.mdx
  example/feature/nest/article-2.mdx
  example/index.mdx
  example/rocu.json
Due: none

test(link): modified test
  src/transformer/tags/__tests__/generateLinkElements.test.tsx
Due: yarn run prettier

chore(change-log): updated CHANGELOG.md
  CHANGELOG.md
Due: none

0.0.3
  package.json
Due: sort-package-json

chore(docs): update readme and packages
  README.md
  docs/dependencygraph.png
Due: none

feat(assets): add assets file copy
  package.json
  src/build/copyFiles.ts
  src/cli.ts
  src/repository/exportPage.ts
  typings/@rocu/index.d.ts
  yarn.lock
Due: yarn run prettier, sort-package-json

refactor(dest): refactor output directory option
  src/cli.ts
  src/repository/exportPage.ts
  typings/@rocu/index.d.ts
Due: yarn run prettier

0.0.4
  package.json
Due: sort-package-json

refactor(cli): cliの引数のリファクタリング
  example/rocu.json
  src/build/copyFiles.ts
  src/cli.ts
  src/cliParser.ts
  src/generator.ts
  src/renderer.ts
  src/repository/getPage.ts
  src/server/server.ts
  typings/@rocu/index.d.ts
Due: yarn run prettier

feat(build): copyするファイルのblacklist機能を追加
  src/build/copyFiles.ts
  src/cli.ts
  src/cliParser.ts
  src/parser.ts
  src/server/server.ts
Due: yarn run prettier

feat(link): relative path auto generate
  example/rocu.json
  package.json
  src/cli.ts
  src/generator.ts
  src/parser.ts
  src/renderer.ts
  src/renderer.tsx
  src/server/__tests__/router.test.ts
  src/server/server.ts
  src/transformer/__tests__/customComponents.test.tsx
  typings/@rocu/index.d.ts
Due: yarn run prettier, sort-package-json

feat(path): calc relative path
  src/parser.ts
  src/renderer.ts
  src/repository/getPage.ts
  src/server/server.ts
  src/transformer/tags/__tests__/generateAnchorElement.test.tsx
  src/transformer/tags/generateAnchorElement.tsx
  typings/@rocu/index.d.ts
Due: yarn run prettier

feat(path): calc relative path
  example/feature/local-scope.mdx
  example/top.mdx
  src/transformer/tags/__tests__/generateAnchorElement.test.tsx
  src/transformer/tags/generateAnchorElement.tsx
Due: yarn run prettier

feat(path): links depend on file structure
  example/feature/local-scope.mdx
  example/feature/nest/article-2.mdx
  example/top.mdx
  src/transformer/tags/__tests__/generateAnchorElement.test.tsx
  src/transformer/tags/generateAnchorElement.tsx
Due: yarn run prettier

refactor(code): remove log and fix back link
  src/renderer.ts
  src/server/server.ts
  src/transformer/tags/__tests__/generateAnchorElement.test.tsx
  src/transformer/tags/generateAnchorElement.tsx
  typings/@rocu/index.d.ts
Due: yarn run prettier

feat(assets): searchable local asset file
  example/assets/main.css
  src/repository/getPage.ts
  src/server/__tests__/router.test.ts
  src/server/server.ts
  src/transformer/createHeadContent.tsx
  src/transformer/tags/__tests__/generateAnchorElement.test.tsx
  src/transformer/tags/__tests__/helper.test.tsx
  src/transformer/tags/generateAnchorElement.tsx
  src/transformer/tags/helpers.ts
Due: yarn run prettier

feat(build): export base path directory
  package.json
  src/build/copyFiles.ts
  src/cli.ts
  src/repository/exportPage.ts
  src/transformer/createHeadContent.tsx
Due: yarn run prettier, sort-package-json

feat(build): fix /index
  src/cli.ts
  src/exportPage.ts
  src/generator.ts
  src/getPage.ts
  src/server/server.ts
  src/transformer/tags/__tests__/helper.test.tsx
  src/transformer/tags/helpers.ts
Due: yarn run prettier

refactor(normalize): remove tags reference normalizer
  package.json
  src/getPage.ts
  src/server/__tests__/router.test.ts
  src/server/server.ts
  src/transformer/tags/__tests__/generateLinkElements.test.tsx
  src/transformer/tags/__tests__/generateScriptElements.test.tsx
  src/transformer/tags/__tests__/normalizer.test.ts
  src/transformer/tags/generateLinkElements.tsx
  src/transformer/tags/generateScriptElements.tsx
  src/transformer/tags/normalizer.ts
Due: yarn run prettier, sort-package-json

fix(mime): fix mime type error
  package.json
  src/server/server.ts
  yarn.lock
Due: yarn run prettier, sort-package-json

fix(chore): remove debug log, skip suffix http or https
  src/getPage.ts
  src/transformer/tags/__tests__/helper.test.tsx
  src/transformer/tags/helpers.ts
Due: yarn run prettier

refactor(path): update path calculate and docs
  example/feature/local-scope.mdx
  src/build/copyFiles.ts
  src/server/__tests__/router.test.ts
  src/server/server.ts
Due: yarn run prettier

0.0.5
  package.json
Due: sort-package-json

fix(build): export page directory
  src/build/copyFiles.ts
  src/cli.ts
  src/exportPage.ts
  src/generator.ts
  src/renderer.ts
  typings/@rocu/index.d.ts
Due: yarn run prettier

0.0.6
  package.json
Due: sort-package-json

feat(config): load config from json file
  example/rocu.json
  src/getPage.ts
  src/helpers.ts
  src/parser.ts
  typings/@rocu/index.d.ts
Due: yarn run prettier

feat(template): add custom template system
  src/__tests__/getLayout.test.tsx
  src/createTemplate.tsx
  src/getPage.ts
  src/renderer.ts
  src/transformer/__tests__/anchor.test.tsx
  src/transformer/__tests__/createBodyContent.test.tsx
  src/transformer/__tests__/customComponents.test.tsx
  src/transformer/createBodyContent.tsx
  typings/@rocu/index.d.ts
Due: yarn run prettier

feat(template): add custom template system
  CustomTemplate/template.js
  CustomTemplate/template.tsx
  package.json
  src/cli.ts
  src/importer.ts
  src/parser.ts
  src/renderer.ts
  src/server/server.ts
  typings/@rocu/index.d.ts
Due: yarn run prettier, sort-package-json

0.0.7
  package.json
Due: sort-package-json

fix(path): skip add base path when path started http:// or https://
  package.json
  src/getPage.ts
Due: yarn run prettier, sort-package-json

fix(typing): export typing files
  src/index.ts
Due: yarn run prettier

feat(custom-template-params): add page props
  CustomTemplate/template.js
  CustomTemplate/template.tsx
  example/rocu.json
  src/__tests__/getLayout.test.tsx
  src/createTemplate.tsx
  src/generateProps.ts
  src/index.ts
  src/renderer.ts
  src/server/server.ts
  typings/@rocu/index.d.ts
Due: yarn run prettier

fix(bags): fix some bags
  CustomTemplate/template.js
  CustomTemplate/template.tsx
  package.json
  src/__tests__/getPage.test.ts
  src/getPage.ts
  src/index.ts
  src/transformer/tags/helpers.ts
Due: yarn run prettier, sort-package-json

0.0.8
  package.json
Due: sort-package-json
